.super-mario {
    width: 200px;
    position: absolute;
    left: 110px;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {

  }
  
  .speach {
    font-size: 25px;

  }
  
  .bowser {
    width: 200px;
  }