.super-mario {
    width: 200px;
    position: absolute;
    top: 125px;
    left: 110px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 430px;
    left: 150px;
  }
  
  .baloon {
    position: absolute;
    left: 420px;
    top: 260px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 445px;
    top: 298px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 410px;
    left: 710px;
  }